.container {
  background-color: #a4a4a4;
  padding: 48px;
  margin: 16px;
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.list li {
  background-color: white;
  flex-grow: 1;
  height: 255px;
  position: relative;
}

.list li div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #30a7d7;
}

.list li p {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
