@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Scribble&display=swap");

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 32px;
  gap: 16px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 16px 32px;
}

.imgContainer img {
  height: 300px;
}

.descContainer {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.table {
  background-color: #30a7d7;
  width: 100%;
  padding: 16px;
}

.table tbody tr td p:first-child {
  font-family: "Rubik Scribble", system-ui;
  color: white;
  font-weight: 700;
}

.table tbody tr td p:last-child {
  font-weight: 500;
  font-family: "Pacifico", cursive;
}

@media screen and (max-width: 780px) {
  .container {
    grid-template-columns: 1fr;
  }
}
