.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 4px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container button {
  flex-grow: 1;
  padding: 8px;
  border: none;
}
